<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KT MWC-scenario</title>

  <!-- 스타일 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
  <div class="wrap">

    <!-- 로고 -->
    <h1 class="logo">
      <a href="#"><img src="{{ url_for('static', filename='images/kt_logo_w.png') }}" alt="로고"></a>
    </h1>

    <!-- 처음으로 돌아가기 버튼 -->
    <button type="button" class="btn_home" onclick="location.href='/'">
      <img src="{{ url_for('static', filename='images/ic_home.png') }}" alt="처음으로">  
    </button>
    <div class="btn_home_txt"> 
      <p><strong>Customer Service Consultant Assist Agent</strong></p>
    </div>

    <!-- 시나리오 선택 / 4개 버튼 -->
    <div class="scenario">
      <div class="top">
        <div class="pic"><img src="{{ url_for('static', filename='images/character.png') }}" alt="이미지"></div>
        <div class="bubble">
          <!--<p>원하는 시나리오를 <strong>선택</strong>하세요!</p>-->
          <p><strong>Select</strong> the scenario you want!</p>
        </div>
      </div>
      <div class="btn_wrap_scenario">
        <button class="btn btn_scenario" id="ic_change" onclick="selectScenario('sc_change')">
          <span class="pic"><img src="{{ url_for('static', filename='images/ic_change.png') }}" alt="아이콘"></span>
          Change Mobile plan
        </button>
        <button class="btn btn_scenario" id="ic_combine" onclick="selectScenario('sc_combine')">
          <span class="pic"><img src="{{ url_for('static', filename='images/ic_combine.png') }}" alt="아이콘"></span>
          Combine Service
        </button>
        <button class="btn btn_scenario" id="ic_membership" onclick="selectScenario('sc_membership')">
          <span class="pic"><img src="{{ url_for('static', filename='images/ic_membership.png') }}" alt="아이콘"></span>
          Membership Benefit
        </button>
        <button class="btn btn_scenario" id="ic_roaming" onclick="selectScenario('sc_roaming')">
          <span class="pic"><img src="{{ url_for('static', filename='images/ic_roaming.png') }}" alt="아이콘"></span>
          Roaming Service
        </button>
      </div>
    </div>
  </div>

  <script>
    function selectScenario(scenarioType) {
        // sessionStorage에 선택된 시나리오 타입 저장
        sessionStorage.setItem('selectedScenario', scenarioType);

        // 시나리오 타입별 페이지 분기처리
        window.location.href = '/main';
    }
  </script>
</body>
</html> 