<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KT MWC-start</title>

  <!-- 스타일 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <style>
    body {
      background-image: url('../static/images/background.png'); /* 배경 이미지 설정 */
      background-size: cover; /* 배경 이미지 크기 조정 */
      background-position: center; /* 배경 이미지 위치 조정 */
    }
  </style>
</head>

<body>
  <div class="wrap">
    <!-- 로고 -->
    <h1 class="logo">
      <a href="#"><img src="{{ url_for('static', filename='images/kt_logo_w.png') }}" alt="로고"></a>
    </h1>

    <!-- 시작 -->
    <div class="start_wrap">
      <div class="top">
        <div class="pic"><img src="{{ url_for('static', filename='images/character.gif') }}" alt="이미지"></div>
        <div class="bubble">
          <!--<p>KT의 상담 Agent가 <span>고객경험과 상담사의 업무</span>를 어떻게 혁신하고 있는지 <strong>직접 체험</strong> 해보세요!</p>-->
          <p><strong>Experience</strong> firsthand how KT's Customer Service Agents are revolutionizing <span>Customer experience and Agent Workflows!</span></p>
        </div>
      </div>
      <button class="btn btn_start" onclick="location.href='/consultant_gender'">start</button>
    </div>
  </div>
</body>
</html> 