<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Service Consultant Support Agent</title>

  <!-- 스타일 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <style>
    body {
      background-image: url('../static/images/background.png'); /* 배경 이미지 설정 */
      background-color: rgba(255, 255, 255, 0.3); /* 흰색 오버레이 30% 불투명도 */
      background-blend-mode: overlay; /* 배경 이미지와 오버레이 블렌드 */
      background-size: cover; /* 배경 이미지 크기 조정 */
      background-position: center; /* 배경 이미지 위치 조정 */
    }
    .svg {
      filter: invert(60%) sepia(60%) saturate(654%) hue-rotate(209deg) brightness(80%) contrast(95%);
      transform: scale(0.9);
    }
  </style>
</head>

<body>
  <div class="wrap">
    <!-- 로고 -->
    <h1 class="logo">
      <a href="#"><img src="{{ url_for('static', filename='images/kt_logo_w.png') }}" alt="로고"></a>
    </h1>

    <!-- 이전단계 돌아가기 버튼 -->
    <button type="button" class="btn_home" onclick="location.href='http://localhost:8000'">
      <img src="{{ url_for('static', filename='images/ic_home.png') }}" alt="이전으로">
    </button>
    <div class="btn_home_txt"> 
      <p><strong>Customer Service Consultant Support Agent</strong></p>
    </div>

    <!-- 시작 -->
    <div class="start_wrap">
      <div class="top">
        <div class="pic">
          <img src="{{ url_for('static', filename='images/intro_character_new.svg') }}" alt="캐릭터 이미지" class="svg">
        </div>
        <div class="bubble">
          <!--<p>KT의 상담 Agent가 <span>고객경험과 상담사의 업무</span>를 어떻게 혁신하고 있는지 <strong>직접 체험</strong> 해보세요!</p>-->
          <p><strong>Experience</strong> firsthand how KT's Customer Service Agents are revolutionizing <span>Customer experience and Agent Workflows!</span></p>
        </div>
      </div>
      <button class="btn btn_start" onclick="location.href='/consultant_gender'">start</button>
    </div>
  </div>
</body>
</html> 

<script>
  // 페이지 로드 완료 후 sessionStorage 초기화 (선택사항)
  window.addEventListener('load', function() {
        sessionStorage.removeItem('selectedScenario');
        sessionStorage.removeItem('selectedGender');
        sessionStorage.removeItem('consultantName');
    });
</script>